<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Idea Box!</h1>
        <p class="lead">Submit your ideas and view all submissions.</p>
        <hr class="my-4">
    </div>
</div>